html,body {
  background-color: #fff;
  height: 100%;
}
ol, ul {
  list-style-type: none;
  padding: 0;
}
li {
  list-style-type: none;
}
#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}